<html>
<head>
<title>Breast cancer</title>
</head>
<body style="background-color: rgba(0, 72, 255, 0.67);">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;HOME PRICE PREDICTION MODEL 
    <form action="/check_cancer" method ="POST">
        <img src="static\cancer_1.jpg">
        <br>
        <br><br><br><br>
        <label>mean radius</label><input type="text" name ="mean_radius"><br><br>
        <label>mean texture</label><input type="text" name ="mean_texture"><br><br>
        <label>mean perimeter</label><input type="text" name ="mean_perimeter"><br><br>
        <label>mean area</label><input type="text" name ="mean_area"><br><br>
        <label>mean smoothness</label><input type="text" name ="mean_smoothness"><br><br>
        <label>mean compactness</label><input type="text" name ="mean_compactness"><br><br>
        <label>mean concavity</label><input type="text" name ="mean_concavity"><br><br>
        <label>mean concave points</label><input type="text" name ="mean_concave_points"><br><br>
        <label>mean symmetry</label><input type="text" name ="mean_symmetry"><br><br>
        <label>mean fractal dimension</label><input type="text" name ="mean_fractal_dimension"><br><br>
        <label>radius error</label><input type="text" name ="radius_error"><br><br>
        <label>texture error</label><input type="text" name ="texture_error"><br><br>
        <label>perimeter error</label><input type="text" name ="perimeter_error"><br><br>
        <label>area error</label><input type="text" name ="area_error"><br><br>
        <label>smoothness error</label><input type="text" name ="smoothness_error"><br><br>
        <label>compactness error</label><input type="text" name ="compactness_error"><br><br>
        <label>concavity error</label><input type="text" name ="concavity_error"><br><br>
        <label>concave points error</label><input type="text" name ="concave_points_error"><br><br>
        <label>symmetry error</label><input type="text" name ="symmetry_error"><br><br>
        <label>fractal dimension error</label><input type="text" name ="fractal_dimension_error"><br><br>
        <label>worst radius</label><input type="text" name ="worst_radius"><br><br>
        <label>worst texture</label><input type="text" name ="worst_texture"><br><br>
        <label>worst perimeter</label><input type="text" name ="worst_perimeter"><br><br>
        <label>worst area</label><input type="text" name ="worst_area"><br><br>
        <label>worst smoothness</label><input type="text" name ="worst_smoothness"><br><br>
        <label>worst compactness</label><input type="text" name ="worst_compactness"><br><br>
        <label>worst concavity</label><input type="text" name ="worst_concavity"><br><br>
        <label>worst concave points</label><input type="text" name ="worst_concave_points"><br><br>
        <label>worst symmetry</label><input type="text" name ="worst_symmetry"><br><br>
        <label>worst fractal dimension</label><input type="text" name ="worst_fractal_dimension"><br><br> 
         
        <input type="submit">
        <br><br>
        
    </form>
    
</body>
</html>